@CHARSET "UTF-8";

.logotipo{
	margin-top:20px;
	color: #1e7b1e;
}


.btn-space {
    margin: 0 5px;
}

.footer{
	background: #fafafa;
	border-top: 1px solid green;
	height:60px;
}

.navbar-default{
	border-color: green;
}

.verde{
	color: green;
}

.msg{
	margin-left:0px;
	padding-left: 0px;
	margin-right:0px;
	padding-right: 0px;
}

.msg li{
	list-style: none;
}