<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Projeto ADS IV</title>
	<meta name="viewport" content="width=device-width" />
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="resources/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet"
		href="resources/bootstrap/css/bootstrap-theme.css" />
	<link rel="stylesheet" href="resources/css/adsiv.css" />
</h:head>
<h:body>

	<nav id="nav" class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="glyphicon glyphicon-menu-hamburger verde"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Sair <span
							class="glyphicon glyphicon-log-out verde"></span></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#nav">Home</a></li>
					<li><a href="#">Cursos</a></li>
					<li><a href="professor.xhtml">Professores</a></li>
					<li><a href="eixo.xhtml">Eixos</a></li>
					<li><a href="#">Disciplinas</a></li>
					<li><a href="#">Alunos</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row" style="margin-top: 60px;">
			<div class="col-md-4">
				<img src="resources/img/logo.png" class="img-responsive"
					alt="Logo IFPI - Campus Picos" />
			</div>
			<div class="col-md-8 logotipo">
				<h2 class="text-center">Controle Acadêmico</h2>
			</div>
		</div>
		<hr />
	</div>

	<div class="container">
		<ui:insert name="content">
	               [o conteúdo deve ser inserido aqui!]
	    	</ui:insert>
	</div>


	<footer class="container-fuid text-center footer">
		<p>
			<span>&#169;</span> Instituto Federal do Piauí <br />Desenvolvido
			por: Jesiel Viana da Silva
		</p>
	</footer>

</h:body>
<script src="resources/js/jquery.js"></script>
<script src="resources/js/scripts.js"></script>
<script src="resources/bootstrap/js/bootstrap.js"></script>
</html>
