<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	template="/template/template.xhtml">

	<ui:define name="content">
		<h:form id="newEixo">
		
			<h4 class="text-center">Novo eixo</h4>
			
			<h:messages errorClass="alert alert-danger" showDetail="true"
				showSummary="true" infoClass="alert alert-success"
				warnClass="alert alert-warning" globalOnly="true"
				styleClass="msg" />
				
			<div class="row form-group">
				<div class="col-md-1">
					<h:outputLabel for="nome" value="Nome:" />
				</div>
				<div class="col-md-3">
					<input required="required" type="text" class="form-control"
						jsf:id="nome" jsf:value="#{newEixo.nome}" />
					<h:message for="nome" />
				</div>
				<div class="col-md-1">
					<h:outputLabel value="Descrição:" />
				</div>
				<div class="col-md-4">
					<input type="text" required="required" class="form-control"
						id="descricao" jsf:value="#{newEixo.descricao}" />
				</div>
			</div>

			<div class="form-group">
				<h:commandButton rendered="#{not eixoMBean.altera}" id="adicionar"
					action="#{eixoMBean.adiciona()}" value="Adicionar"
					styleClass="btn btn-success  pull-right" />
				<h:commandButton rendered="#{eixoMBean.altera}" id="atualizar"
					action="#{eixoMBean.atualiza()}" value="Atualizar"
					styleClass="btn btn-success  pull-right" />
			</div>
			<div class="row" />
		</h:form>
		<hr />
		<h4 class="text-center">Eixos</h4>
		<h:form id="eixos">
			<h:panelGroup rendered="#{empty eixos}">
				<em>Não há eixos cadastrados.</em>
			</h:panelGroup>

			<h:dataTable var="eixo" value="#{eixos}"
				rendered="#{not empty eixos}" styleClass="table table-striped">
				<h:column>
					<f:facet name="header">Código</f:facet>
                #{eixo.id}
            </h:column>
				<h:column>
					<f:facet name="header">Nome</f:facet>
                #{eixo.nome}
            </h:column>
				<h:column>
					<f:facet name="header">Descrição</f:facet>
                #{eixo.descricao}
            </h:column>
				<h:column>
					<h:commandLink action="#newEixo" value="Alterar"
						styleClass="btn btn-primary btn-space"
						actionListener="#{eixoMBean.carregaEixoParaAlterar(eixo)}" />
					<h:commandButton value="Excluir" action="#{eixoMBean.remove(eixo)}"
						styleClass="btn btn-danger btn-space" />
				</h:column>
			</h:dataTable>
		</h:form>

	</ui:define>
	
</ui:composition>
