<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Projeto ADS IV</title>
	<meta name="viewport" content="width=device-width" />
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="resources/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet"
		href="resources/bootstrap/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="resources/css/login.css" />
</h:head>
<h:body>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img src="resources/img/logo.png" class="img-responsive"
					alt="Logo IFPI - Campus Picos" />
			</div>
			<div class="col-md-8 logotipo">
				<h2 class="text-center">Controle Acadêmico</h2>
			</div>
		</div>
		<hr />
	</div>

    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card avatar" src="resources/img/avatar.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <h:form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" jsf:value="#{loginController.email}" id="inputEmail" class="form-control" placeholder="Email" autofocus="autofocus" />
                <input type="password" jsf:value="#{loginController.senha}"  id="inputPassword" class="form-control" placeholder="Senha"  />
                <h:commandButton value="LOGIN"   styleClass="btn btn-lg  btn-block btn-signin"  action="#{loginController.login()}" />
            </h:form>
            <div class="forgot-password">
            <a href="#" class=""> Esqueceu a senha? </a>
            </div>
        </div>
    </div>

	<footer class="container-fuid text-center footer">
		<p>
			<span>&#169;</span> Instituto Federal do Piauí <br />Desenvolvido
			por: Jesiel Viana da Silva
		</p>
	</footer>

</h:body>
<script src="resources/js/jquery.js"></script>
<script src="resources/js/login.js"></script>
</html>
