<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Projeto ADS IV</title>
	<meta name="viewport" content="width=device-width" />
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="resources/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet"
		href="resources/bootstrap/css/bootstrap-theme.css" />
	<link rel="stylesheet" href="resources/css/adsiv.css" />
</h:head>
<body>

<nav id="nav" class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="glyphicon glyphicon-menu-hamburger verde"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Sair <span
							class="glyphicon glyphicon-log-out verde"></span></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#nav">Home</a></li>
					<li><a href="#">Cursos</a></li>
					<li><a href="#">Professores</a></li>
					<li><a href="#">Eixos</a></li>
					<li><a href="#">Disciplinas</a></li>
					<li><a href="#">Alunos</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row" style="margin-top: 60px;">
			<div class="col-md-4">
				<img src="resources/img/logo.png" class="img-responsive"
					alt="Logo IFPI - Campus Picos" />
			</div>
			<div class="col-md-8 logotipo">
				<h2 class="text-center">Controle Acadêmico</h2>
			</div>
		</div>
		<hr />
	</div>


<div class="container">
	<h:form id="reg">
		<h2>Novo Eixo</h2>
		<div class="row form-group">
			<div class="col-md-1">
				<h:outputLabel for="nome" value="Eixo:" />
			</div>
			<div class="col-md-3">
				<h:inputText styleClass="form-control" id="nome" value="#{newEixo.nome}" />
			</div>
		</div>
		<div class="row">
			<h:commandButton id="adicionar" action="#{eixoController.adiciona}"
				value="Adicionar" styleClass="btn btn-success pull-right" />
		</div>

		<hr />
		
		<h2>Eixos</h2>
		<h:panelGroup rendered="#{empty eixos}">
			<em>Não há eixos cadastrados.</em>
		</h:panelGroup>

		<h:dataTable var="eixo" value="#{eixos}" rendered="#{not empty eixos}"
			border="1">
			<h:column>
				<f:facet name="header">Código</f:facet>
                #{eixo.id}
            </h:column>
			<h:column>
				<f:facet name="header">Nome</f:facet>
                #{eixo.nome}
            </h:column>
		</h:dataTable>
	</h:form>
</div>
	
</body>
<script src="resources/js/jquery.js"></script>
<script src="resources/js/scripts.js"></script>
<script src="resources/bootstrap/js/bootstrap.js"></script>
</html>
