<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	template="/template/template.xhtml">

	<ui:define name="content">
		<h:form id="newEixo">

			<h4 class="text-center">Novo Professor</h4>

			<h:messages errorClass="alert alert-danger" showDetail="true"
				showSummary="true" infoClass="alert alert-success"
				warnClass="alert alert-warning" globalOnly="true" styleClass="msg" />

			<div class="row form-group">
				<div class="col-md-1">
					<h:outputLabel for="nome" value="Nome:" />
				</div>
				<div class="col-md-3">
					<input required="required" type="text" class="form-control"
						jsf:id="nome" jsf:value="#{professorMBean.newProfessor.nome}" />
					<h:message for="nome" />
				</div>
				<div class="col-md-1">
					<h:outputLabel value="Email:" />
				</div>
				<div class="col-md-4">
					<input type="text" required="required" class="form-control"
						id="descricao" jsf:value="#{professorMBean.newProfessor.email}" />
				</div>
				</div>
				<div class="row form-group">
				<div class="col-md-1">
					<h:outputLabel value="Siape:" />
				</div>
				<div class="col-md-3">
					<input type="text" required="required" class="form-control"
						id="descricao" jsf:value="#{professorMBean.newProfessor.siape}" />
				</div>
				<div class="col-md-1">
					<h:outputLabel value="Eixo:" />
				</div>
				<div class="col-md-4">
					<h:selectOneMenu  styleClass="form-control" value="#{professorMBean.idEixoSelecionado}">
						<f:selectItems value="#{professorMBean.eixos}" itemLabel="#{eixo.nome}" var="eixo"
							itemValue="#{eixo.id}" />
					</h:selectOneMenu>
				</div>
			</div>

			<div class="form-group">
				<h:commandButton  id="adicionar"
					action="#{professorMBean.adicionarProfessor()}" value="Adicionar"
					styleClass="btn btn-success  pull-right" />
			</div>
			<div class="row" />
		</h:form>
		<hr />
		<h4 class="text-center">Eixos</h4>
		<h:form id="eixos">
			<h:panelGroup rendered="#{empty professorMBean.professores}">
				<em>Não há professores cadastrados.</em>
			</h:panelGroup>

			<h:dataTable var="professor" value="#{professorMBean.professores}"
				rendered="#{not empty professorMBean.professores}" styleClass="table table-striped">
				<h:column>
					<f:facet name="header">Código</f:facet>
                #{professor.id}
            </h:column>
				<h:column>
					<f:facet name="header">Nome</f:facet>
                #{professor.nome}
            </h:column>
				<h:column>
					<f:facet name="header">Eixo</f:facet>
                #{professor.eixo.nome}
            </h:column>
				<h:column>
					
				</h:column>
			</h:dataTable>
		</h:form>

	</ui:define>

</ui:composition>
